html, body {
    height: 100%;
    background: url('/static/images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Giveny;
}

/** HEADERS **/

.main_header {
    color: white;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(100%);
    font-size: 1.5em;
    line-height: 1.8em;
    margin-left: 10%;
}

.main_header h1 {
    margin: 0;
    font-size: 1.8em;
}

/** NAV BAR **/
#navbar-primary .navbar-nav {
    width: 100%;
    margin: 2.5%;
    text-align: center;
  }

  #navbar-primary .navbar-nav > li {
    display: inline-block;
    float: none;
}
  
#navbar-primary .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
    color: #212121;
    font-family: Audrey;
}

.link:hover {
    padding-left: 28px;
    padding-right: 28px;
    color:rgb(183, 244, 255);
    background-color: white;
    border: 2px solid rgb(183, 244, 255);
    border-radius: 2px;
}

.navbar-nav:first-child {
    padding: 0;
    margin: 0;
}

#navbar {
    width: 100%;
    float: left;
    background-color: white;
}

.navbar {
    float: left;
    margin: 0;
    font-size: 1.75em;
}

/** Footer **/

footer {
    color: white;
    text-align: center;
}

/** Stick footer to bottom of page **/
.page-wrap {
    min-height: 100%;
    margin-bottom: -7.5vh;
  }

  .page-wrap:after {
    content: "";
    display: block;
  }

  .site-footer, .page-wrap:after {
    height: 7.5vh;
  }

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  /* footer social icons */
  .social-network a.icoGithub:hover {
    background-color: rgb(41, 155, 47);
  }

  .social-network a.icoWordpress:hover {
    background-color: rgb(233, 56, 65);
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a:hover i,
  .social-network a:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }

.col-md-3 {
    width: 100%;
    margin-top: 1%;
}

/** FONTS **/

@font-face {
    font-family: Audrey;
    src: url(/static/fonts/Audrey/Audrey-Normal.otf);
    font-weight: normal;
}

@font-face {
    font-family: Audrey;
    src: url(/static/fonts/Audrey/Audrey-Bold.otf);
    font-weight: bold;
}
  
@font-face {
    font-family: Giveny;
    src: url(/static/fonts/Giveny.otf);
    font-weight: normal;
}
