{{define "footer"}}
<footer class="site-footer" role="contentinfo">
        <div class="col-md-3">
            <ul class="social-network social-circle">
             <li><a href="https://www.github.com/abarkley123" class="icoGithub" title="Github" id="roundIcon"><img src="/static/images/github.svg" alt="GIT"></a></li>
             <li><a href="https://linkedin.com/in/andrew-barkley-3541a314a" class="icoLinkedin" title="Linkedin" id="squareIcon"><img src="/static/images/linkedin.svg"></a></li>
             <li><a href="https://computing326.wordpress.com" class="icoWordpress" title="Wordpress" id="roundIcon"><img src="/static/images/wordpress.svg"></a></li>                 
            </ul>				
        </div>
    </footer>
    <script>
    function openNav() {
      document.querySelector("#mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.querySelector("#mySidenav").style.width = "0";
    }
    </script>
    <script src="/static/js/client.js"></script>
</body>
</html>
{{end}}